@import '../../variables.scss';

#first-form {
    background-image: url('/image/first-form-bg.png');
    max-width: 1920px;
    margin: 0 auto;
    padding: 90px 0 0;
    position: relative;
    overflow: hidden;
    background-color: $main_green;

    @media (max-width: 1300px) {
        padding: 90px 20px;
    }

    &:after {
        content: '';
        position: absolute;
        background-image: url('/image/rectangle-header-zalivka.png');
        z-index: 11;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }

    & .first-form_content {
        display: flex;
        z-index: 20;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1000px) {
            flex-direction: column;
            height: 100%;
        }

        & .content_left {
            max-width: 610px;
            z-index: 20;

            @media (max-width: 1000px) {
                order: 2;
            }

            & h2 {
                font-size: 36px;
                line-height: 49px;
                font-family: 'Prata', sans-serif;
                color: $ligth_orange;
                margin-bottom: 12px;
                z-index: 20;
            }

            & p {
                font-size: 20px;
                font-weight: 300;
                line-height: 24px;
                font-family: 'Montserrat', sans-serif;
                color: $main_light;
                z-index: 20;
                margin-bottom: 36px;
            }

            & input#first-form_email {
                max-width: 420px;
                width: 100%;
                padding: 19px 33px;
                background: rgba(229, 229, 229, 0.15);
                border: 1px solid #ffddbd;
                box-sizing: border-box;
                border-radius: 41px;
                color: #fff1e3;
                outline: none;
                display: block;
                margin-bottom: 24px;
                font-size: 22px;
                line-height: 27px;
                font-family: 'Montserrat', sans-serif;

                @media (max-width: 600px) {
                    max-width: 100%;
                }

                &::placeholder {
                    color: #fff1e3;
                }
            }

            & button {
                width: 420px;
                height: 70px;
                background: linear-gradient(180deg, #fee0d6 0%, #ffb8a3 49.27%, #ffaf95 100%);
                border-radius: 87px;
                color: #f2f2f2;
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                display: block;
                cursor: pointer !important;
                z-index: 220;
                margin-bottom: 39px;

                @media (max-width: 600px) {
                    max-width: 100%;
                    width: 100%;
                }
            }

            & .agreement {
                display: flex;
                position: relative;

                & input {
                    display: none;

                    & + label::before {
                        position: absolute;
                        left: 0px;
                        content: '';
                        display: block;
                        width: 16px;
                        height: 16px;
                        border: 2px solid #ffddbd;
                    }

                    &:checked + label::before {
                        content: url('/image/vector.png');
                    }
                }

                & label {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 11px;
                    line-height: 150%;
                    color: $main_light;
                    font-weight: 300;
                    max-width: 440px;
                    padding-left: 30px;

                    @media (max-width: 600px) {
                        max-width: 100%;
                    }

                    & a {
                        color: $ligth_orange;
                    }
                }
            }
        }

        & .content_right {
            z-index: 20;

            @media (max-width: 1000px) {
                order: 1;
            }
            & img {
                z-index: 20;

                @media (max-width: 600px) {
                    display: block;
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }
}
