@import '../../variables.scss';

#questions {
    max-width: 1920px;
    margin: 0 auto;
    padding: 90px 0 0;
    position: relative;
    overflow: hidden;
    background-color: $ligth_background;

    & .questions_content {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;

        @media (max-width: 1000px) {
            padding: 0 20px 60px;
        }

        & .content_top {
            & h2 {
                font-size: 36px;
                line-height: 130%;
                margin-bottom: 32px;
                font-family: 'Prata', sans-serif;
            }
        }

        & .content_bottom {
            padding: 20px;
            border: 1px solid #093b32;

            & .question_container {
                & label {
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    box-sizing: border-box;
                    z-index: 10;
                    transition: color 0.35s;
                    height: 62px;

                    & span {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 130%;
                        margin-bottom: 29px;
                        font-family: 'Montserrat', sans-serif;

                        @media (max-width: 500px) {
                            font-size: 16px;
                            line-height: 130%;
                            width: calc(100% - 40px);
                        }
                    }

                    &:after {
                        content: url('/image/question-close.png');
                        float: right;

                        @media (max-width: 500px) {
                            margin-bottom: 30px;
                        }
                    }
                }

                & .acor_body {
                    height: 0;
                    transition: color 0.5s, padding 0.5s;
                    overflow: hidden;

                    & p {
                        font-size: 18px;
                        line-height: 22px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 300;
                    }
                }

                & input {
                    display: none;
                }

                & input:checked + label:after {
                    transition: transform 0.15s;
                    transform: rotate(45deg);
                }

                & input:checked + label + .acor_body {
                    height: auto;
                    margin-top: -5px;

                    @media (max-width: 1000px) {
                        width: calc(100% - 40px);
                    }
                }

                & hr {
                    margin: 20px 0 30px 0;
                    color: $main_green;
                    border-bottom: 1px solid $main_green;
                }
            }
        }
    }
}
