@import '../../variables.scss';

#reviews {
    background-color: $main_light;
    padding: 120px 0;
    margin: 0 auto;
    max-width: 1920px;

    & .reviews_content {
        justify-content: center;

        @media (max-width: 1200px) {
            padding: 0 20px;
        }

        & .content_top {
            & h2 {
                font-size: 36px;
                line-height: 49px;
                font-family: 'Prata', sans-serif;
                color: $main_green;
                text-align: center;
                margin-bottom: 36px;
            }
        }

        & .content_bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 800px) {
                flex-direction: column;
            }

            & .left_button {
                width: 41px;
                height: 41px;
                transform: rotate(45deg);
                border-left: 6px solid #1e7c7f;
                border-bottom: 6px solid #1e7c7f;

                @media (max-width: 800px) {
                    order: 2;
                    align-self: flex-end;
                    right: 80px;
                    position: relative;
                    top: 20px;
                    width: 60px;
                    height: 60px;
                    border-width: 10px;
                }
            }

            & .right_button {
                width: 41px;
                height: 41px;
                transform: rotate(45deg);
                border-right: 6px solid #1e7c7f;
                border-top: 6px solid #1e7c7f;

                @media (max-width: 800px) {
                    order: 3;
                    align-self: flex-end;
                    position: relative;
                    bottom: 40px;
                    right: 10px;
                    width: 60px;
                    height: 60px;
                    border-width: 10px;
                }
            }

            & .center {
                flex-basis: 1070px;
                padding: 40px 80px 40px 40px;
                min-height: 342px;
                background: url('/image/reviews-bg.png') no-repeat;
                background-size: contain;

                @media (max-width: 1110px) {
                    background: url('/image/reviews-zalivka.png') repeat;
                }

                @media (max-width: 800px) {
                    order: 1;
                    margin-bottom: 20px;
                    flex-basis: unset;
                    padding: 30px;
                }
                & .single_review {
                    display: none;

                    &.active {
                        display: block;
                    }

                    & h3 {
                        font-size: 25px;
                        line-height: 35px;
                        font-family: 'Montserrat', sans-serif;
                        color: $ligth_orange;
                        margin-bottom: 15px;

                        @media (max-width: 800px) {
                            font-size: 20px;
                            line-height: 24px;
                            font-weight: 500;
                            margin-bottom: 15px;
                        }
                    }

                    & p {
                        font-size: 22px;
                        line-height: 27px;
                        font-family: 'Montserrat', sans-serif;
                        color: $main_light;
                        margin-bottom: 24px;
                        font-weight: 300;

                        @media (max-width: 800px) {
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }

                    & p.name {
                        font-size: 22px;
                        font-weight: 500;
                        font-family: 'Montserrat', sans-serif;
                        color: $ligth_background;
                    }
                }
            }
        }
    }
}
