@import '../../variables.scss';

#do-all-time {
    padding: 120px 0;
    margin: 0 auto;
    max-width: 1920px;
    background-color: $main_light;
    position: relative;

    & .section_wrapper {
        &:after {
            content: url('/image/do-before.png');
            position: absolute;
            width: 156px;
            height: 165px;
            top: 50px;
            left: 200px;

            @media (max-width: 1500px) {
                display: none;
            }
        }
    }

    & .do-all-time_content {
        display: flex;
        flex-flow: column;
        align-items: center;

        & .content_top {
            & h3 {
                font-family: 'Prata', sans-serif;
                font-size: 36px;
                line-height: 49px;
                margin-bottom: 36px;
                max-width: 470px;
                text-align: center;
            }
        }

        & .content_bottom {
            display: flex;
            justify-content: space-between;
            width: 100%;

            @media (max-width: 900px) {
                padding: 0 20px;
            }

            @media (max-width: 650px) {
                flex-wrap: wrap;
            }

            & .single_block {
                flex-basis: 33.3%;
                display: flex;
                flex-direction: column;
                align-items: center;

                @media (max-width: 900px) {
                    padding: 0 10px;
                }

                @media (max-width: 650px) {
                    flex-basis: 100%;
                    margin-bottom: 40px;
                }
                & img {
                    margin-bottom: 12px;
                }

                & h3 {
                    font-size: 24x;
                    line-height: 33px;
                    font-family: 'Prata', sans-serif;
                    margin-bottom: 12px;
                    text-align: center;
                }

                & p {
                    max-width: 272px;
                    font-size: 20px;
                    line-height: 24px;
                    font-family: 'Montserrat', sans-serif;
                    text-align: center;

                    @media (max-width: 650px) {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
