@import '../../variables.scss';

#programm {
    padding: 120px 0;
    margin: 0 auto;
    max-width: 1920px;
    background-color: $main_light;

    position: relative;

    & .section_wrapper {
        max-width: 960px;

        &:before {
            content: url('/image/programm-before.png');
            position: absolute;
            width: 97px;
            height: 292px;
            top: -50px;
            left: 30px;

            @media (max-width: 1500px) {
                display: none;
            }
        }

        &:after {
            content: url('/image/programm-after.png');
            position: absolute;
            width: 141px;
            height: 273px;
            bottom: 40px;
            right: 150px;

            @media (max-width: 1500px) {
                display: none;
            }
        }
    }

    & .programm_content {
        & h2 {
            text-align: center;
            font-size: 36px;
            line-height: 49px;
            font-family: 'Prata', sans-serif;
            margin-bottom: 40px;
        }

        & .programm_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            & .single_block {
                flex-basis: 33.3%;

                @media (max-width: 750px) {
                    flex-basis: 50%;
                }

                @media (max-width: 500px) {
                    flex-basis: 100%;
                }

                & img {
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 15px;

                    @media (max-width: 500px) {
                        display: block;
                        width: 40%;
                    }
                }

                & p {
                    max-width: 240px;
                    text-align: center;
                    margin: 0 auto;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            & .single_block:nth-child(1) {
                margin-bottom: 100px;
            }

            @media (max-width: 750px) {
                & .single_block:nth-child(2),
                .single_block:nth-child(3),
                .single_block:nth-child(4) {
                    margin-bottom: 100px;
                }
            }

            @media (max-width: 500px) {
                & .single_block {
                    margin-bottom: 40px !important;
                }
            }
        }
    }
}
