@import 'blocks/first-form/first-form.scss';

@font-face {
    font-family: 'Prata';
    src: url('fonts/Prata-Regular.eot');
    src: local('fonts/Prata Regular'), local('fonts/Prata-Regular'),
        url('fonts/Prata-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Prata-Regular.woff2') format('woff2'),
        url('fonts/Prata-Regular.woff') format('woff'),
        url('fonts/Prata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Prata', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.section_wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

button {
    color: #fff !important;
    &:hover {
        background: linear-gradient(
            180deg,
            #fee0d6 0%,
            #fed1c2 13.33%,
            #fea48a 49.27%,
            #ff8963 100%
        ) !important;
    }
    &:focus {
        background: linear-gradient(180deg, #ffe6dd 0%, #ffc3b2 49.27%, #ffc8b6 100%) !important;
    }
    &:disabled {
        background: linear-gradient(180deg, #fff1ec 0%, #ffe8e1 49.27%, #ffe0d6 100%) !important;
    }
}
