@import '../../variables.scss';

#about {
    background-color: $ligth_background;
    max-width: 1920px;
    margin: 0 auto;
    padding: 105px 0;
    position: relative;

    @media (max-width: 1000px) {
        padding: 105px 20px;
    }

    & .section_wrapper {
        &:after {
            position: absolute;
            content: url('/image/about-yoga-after.png');
            width: 175px;
            height: 194px;
            top: 50px;
            right: 0px;

            @media (max-width: 1200px) {
                display: none;
            }
        }
    }

    & .about_content {
        display: flex;

        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
        }

        & .content_left {
            margin-right: 100px;

            @media (max-width: 800px) {
                margin-bottom: 20px;
                margin-right: unset;
            }

            @media (max-width: 650px) {
                & img {
                    width: 70%;
                    margin: 0 auto;
                    display: block;
                }
            }
        }

        & .content_rigth {
            max-width: 610px;

            @media (max-width: 1000px) {
                max-width: 100%;
            }

            & h2 {
                font-family: 'Prata', sans-serif;
                font-size: 36px;
                line-height: 49px;
                color: $main_green;
                margin-bottom: 20px;

                @media (max-width: 1000px) {
                    font-size: 30px;
                    line-height: 40px;
                }

                @media (max-width: 500px) {
                    font-size: 22px;
                    line-height: 30px;
                }
            }

            & p {
                font-family: 'Montserrat', sans-serif;
                font-size: 24px;
                line-height: 29px;
                font-weight: 300;

                @media (max-width: 1000px) {
                    font-size: 20px;
                    line-height: 25px;
                }

                @media (max-width: 500px) {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}
